@tailwind components;

@layer components {
  .form-control {
    @apply relative font-sans w-max;

    & .label {
      @apply absolute left-0 text-base transform translate-x-4 translate-y-4 pointer-events-none motion-safe:transition-all text-licorice-500;
    }

    & .input {
      @apply px-4 pt-6 pb-2 transition-all border-none rounded-md outline-none bg-licorice-50;
    }

    &.filled,
    &.focused {
      & .label {
        @apply text-sm translate-x-4 translate-y-1;
      }
    }

    &.focused {
      & .input {
        @apply border-none outline-none;
        /* ring-2 ring-jelly ring-offset-white ring-offset-2 */
      }
    }

    &.error {
      & .input {
        @apply ring-redhot-400;
      }
    }

    &.grow {
      & .input {
        @apply w-full;
      }
    }

    & .icon {
      /* reset default styles */
      @apply p-0 border-none cursor-pointer;
      /* positioning */
      @apply absolute right-3 top-4;

      @apply w-5 text-licorice-400 hover:text-jelly-400;
    }
  }
}
