{
  "presets": [
    "@babel/typescript",
    [
      "@babel/react",
      {
        "useBuiltIns": true
      }
    ],
    [
      "@babel/env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
}
