@tailwind base;

@layer base {
  .button {
    @apply font-black text-center text-white transition-colors border rounded-md bg-jelly border-jelly hover:bg-jelly-300 hover:border-jelly-300;

    &.small {
      @apply px-3 py-2;
      font-size: 12px;
    }

    &.medium {
      @apply px-4 py-3;
      font-size: 14px;
    }

    &.large {
      @apply px-5 py-4;
      font-size: 16px;
    }
  }
}
