.button {
  @apply font-black text-center transition-all border rounded-md cursor-pointer border-jelly;

  &:focus {
    @apply outline-none ring ring-jelly ring-offset-2 ring-offset-white;
  }

  &.primary {
    @apply text-white bg-jelly hover:bg-jelly-300;
  }

  &.secondary {
    @apply bg-white text-jelly hover:bg-jelly-100;
  }

  &.small {
    @apply px-3 py-2;
    font-size: 12px;
  }

  &.medium {
    @apply px-4 py-3;
    font-size: 14px;
  }

  &.large {
    @apply px-5 py-4;
    font-size: 16px;
  }

  &.loading,
  &:disabled {
    @apply cursor-default bg-jelly-100 border-jelly-100;
  }
}
